nav .navbar-brand--custom img {
	max-height: 50px;
	padding: 0;
}

.navbar.navbar-default {
	margin-bottom: 0;
}


.indexcontainer{
	margin-left: 10%;
}


.carrusel{
	margin-top: 0px;
	background-color: grey;
	height: 400px;
	width: 100%;
}
.img1{
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}
.img2{
	width: 915px;
	margin-left: auto;
	margin-right: auto;
}
.img3{
	width: 492px;
	margin-left: auto;
	margin-right: auto;
}

.header2{
	background-color: #6495ED;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

.header2 ul.lista{
	list-style: none;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;

}

.indexcontainer{
	margin-top: 30px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.thumbnail{
	height: 400px;
}
.webpay{
	width: 200px;
}

.footer{
	background-color: #867e7e1a;
	padding-top: 30px;
}



.nosotros{
	background-color:#6495ED;
	height: 300px;
	text-align: center;
	font-size: 100px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 70px;
}

.caja1{
	text-align: center;
	margin-top: 10px;
	border: 1px solid grey;
	height: 162px;
}
.caja2{
	text-align: justify;
	border: 1px solid grey;
	margin-top: 10px;
	margin-bottom: 10px;
}


.seccion2{
	height: 200px;
	background-color: #867e7e1a;
	margin-top: 30px;
}

.seccion3{
	margin-top: 40px;
	font-family: 'Open Sans', sans-serif;
}

.directorioimagen{
	height: 350px;
	margin-left: auto;
	margin-right: auto;
}

.boxa{
	background-color:#6495ED;
	height: 330px;
	border: 1px solid grey; 
	text-align: justify;
	font-size: 15px;
}

.boxboxa{
	padding-top: 10px;
}
.boxboxb{
	padding-top: 20px;
}
.boxboxc{
	padding-top: 20px;
}

.boxb{
	background-color: #F0F0F0;
	border: 1px solid grey;
	height: 330px;
	text-align: justify;
	font-size: 15px;
}

.boxbox1{
	text-align: center;
	padding-top: 70px;
}

.boxbox2{
	
	padding-top: 10px;
}

.voluntariado{
	border-radius: 25px;
    border: 2px solid grey;
    padding: 20px; 
    width: 80%; 
    height: 200px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;
}


.sidebar{
	margin-top: 10px;
	background-color:#6495ED;
	height: 2040px;
	color: white;

}
.mainbar{
	content:center;
	text-align: justify;
}

.noticias{
margin-left: 20px;
font-family: 'Open Sans', sans-serif;
margin-bottom: 0px;


}